# Py charm
.idea
# Virtual environment 
venv/
### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

### Django ###
*.log
*.pot
*.pyc

local_settings.py

db.sqlite3

# DEBUG
saas_django/debug.txt
saas_django/secret_key.txt
saas_django/db_password.txt
saas_django/db_credentials.txt

sqlite3.exe

# unnecessary migrations folder
**/migrations/*
sqlite3.exe
